# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

/caltex_server_8125/logs
/caltex_server_8125/node_modules
/caltex_server_8125/.env
/caltex_server_8125/.env.example
/caltex_server_8125/.git
/caltex_server_8125/.gitignore

# claves de mail-gun
mailgun.key
