<ion-header>
    <ion-toolbar>
        <ion-title>
            KInfo - Stock en linea (v1.6)
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-img src="assets/logo-caltex.png" routerLink="/login"></ion-img>
    <ion-img src="assets/logo-newwalk.png" routerLink="/login"></ion-img>
    <ion-img src="assets/logo-exs.png" routerLink="/login"></ion-img>
    <ion-img src="assets/logo-verazzi.png" routerLink="/login"></ion-img>

    <ion-img src="assets/logo-kinetik.png"></ion-img>

</ion-content>